<div class="container">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-1">
      <a href="<%= '#users/' + message.escape('other_user_id') %>">
        <img
          src="<%= '/images/tmp/' + message.escape('other_user_id') + '.jpg' %>"
          class="center-block img-circle img-thumbnail img-responsive"
          style="height:75px;width:75px;">
      </a>
    </div>

    <div class="col-xs-6 well panel message-preview">
        <p><b>
            <%= message.escape('direction') %>:&nbsp;
            <%= message.escape('other_username') %>
            &times;
            <%= message.escape('timestamp') %>
        </b></p>
        <p><%= message.escape('body') %></p>
    </div>
  </div>
</div> <!--/container-->
