<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-9">
      <div class="<%= 'message-preview message-' + message.escape('direction').toLowerCase() %>">
        <div class="user-thumbnail">
          <a href="<%= '#users/' + message.escape('sender_id') %>">
            <img
              src="<%= message.escape('sender_photo') %>"
              class="center-block img-circle img-thumbnail img-responsive">
          </a>
        </div>

        <div class="user-thumbnail">
          <a href="<%= '#users/' + message.escape('other_user_id') %>">
            <img
              src="<%= message.escape('receiver_photo') %>"
              class="center-block img-circle img-thumbnail img-responsive">
          </a>
        </div>

        <div class="message-summary">
          <p><b><%= message.escape('direction') %>:&nbsp;<%= message.escape('other_username') %>
          <br>Date: <%= message.escape('timestamp') %>
          <br>Body:</b> <%= message.escape('body') %></p>
        </div>
      </div>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div> <!--/container-->
