<div class="container user-preview">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1
                col-md-8 col-md-offset-2">

      <div class="well panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
              <% if (useLink) { %>
                <a href="<%= '#users/' + user.escape('id') %>">
              <% } %>

              <% img_src = user.get('photo') || '/images/blank_photo.jpg'; %>

              <% if (user.isCurrentUser && ! user.get('photo')) { %>
                <div class="upload-photo">
              <% } else { %>
                <div>
              <% } %>

              <img
                src = "<%= img_src %>"
                alt="<%= 'Profile pic for user: ' + user.escape('username') %>'"
                class="center-block img-circle img-thumbnail img-responsive"
                style="height:150px;width:150px;">
              </div>
              <% if (useLink) { %>
                </a>
              <% } %>
            </div>

            <!--/col-->
            <div class="col-xs-12 col-sm-8">
              <h2>
                <%= user.escape('username') %>
              </h2>
              <p>
                <strong>Gender: </strong><%= user.escape('gender') %>
                <strong>Age: </strong><%= user.escape('age') %>
              </p>
              <p><strong>Interested In: </strong><%= user.preferences() %></p>
              <% if (!user.isCurrentUser) { %>
                <% if (user.like().isNew()) { %>
                  <button class=" btn btn-primary toggle" name="<%= user.id %>"><%= 'Like  '%></button>
                <% } else { %>
                  <button class=" btn btn-success toggle" name="<%= user.id %>"><%= 'Unlike'%></button>
                <% } %>
              <% } %>
            </div>

          </div><!--/row-->
        </div><!--/panel-body-->
      </div><!--/panel-->
    </div><!--/col-->
    <center>
  </div>
  <!--/row-->
</div>
<!--/container-->
