<div class="container user-profile">
    <div class="row">
      <div class="col-md-2">
        <a href="<%= '#users/' + user.escape('id') %>" class="thumbnail">
          <img
            width=100px height=100px
            src="<%= '/images/tmp/' + user.escape('id') + '.jpg' %>"
            alt="<%= 'Profile pic for user: ' + user.escape('username') %>'"
          ></a>
      </div> <!-- End Thumbnail -->

      <div class="col-md-10">
        <% if (!user.isCurrentUser) { %>
          <div class="container">
            <% if (user.like().isNew()) { %>
              <button class="toggle">Like</button>
            <% } else { %>
              <button class="toggle">Unlike</button>
            <% } %>
          </div>
        <% } %>
        <div class="row">
          <h3 valign="left">
            <%= 'Username: ' + user.escape('username') %>
          </h3>
        </div>
        <h3 valign="left">
          <%= user.escape('gender') + ' &middot; ' + (user.get('age') ? user.escape('age') : '(age unknown)') %>
        </h3>
      </div> <!-- End User Details -->

    </div> <!-- End Profile First Row -->

    <div class="row">
      <div class="response-index col-md-7">
      </div>
      <div class="col-md-5">
        <h2>Attributes</h2>
      </div>
    </div> <!-- End Profile Second Row (Essays and Attributes) -->

</div>
