<div class="container user-profile">
    <div class="user-preview"></div>
    <div class="row">
      <div class="col-md-10">
        <% if (user.isCurrentUser) { %>
          <h3>
            <% if (user.get('genders')) { %>
              <select id="gender" action="">
                <% if (user.get('gender_id')) { %>
                  <option disabled="true">Select Gender</option>
                <% } else { %>
                  <option disabled="true" selected=true>Select Gender</option>
                <% } %>
                <% user.get('genders').forEach(function(gender) { %>
                  <option
                    value="<%= gender.id %>"
                    <% if (user.get('gender_id') === gender.id) { %>
                      <%= "selected=true" %>
                    <% } %>>
                  <%= gender.singular %></option>
                <% }) %>
              </select>

              <form id="desired-genders" action="">
                <input type="checkbox" name="gender_id" value="1">Men<br>
                <input type="checkbox" name="gender_id" value="2">Women<br>
              </form>
            <% } %>

          </h3>

        <% } %>

      </div> <!-- End User Details -->

    </div> <!-- End Profile First Row -->

    <div class="row">
      <div class="response-index col-md-6">
      </div>
      <div class="col-md-6">
        <h2>Attributes</h2>
        <% if (user.isCurrentUser) { %>
          <% var d = user.birthdate(); %>
          <div class="input-group date" id="birthdate">
              <input type="text" value="<%= [d.month, d.day, d.year].join('-') %>">
              <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
          </div>
          <form id="birthdate">
            Year: <input type="number" name="year" value="<%= d.year %>">
            Month: <input type="number" name="month" value="<%= d.month %>">
            Day: <input type="number" name="day" value="<%= d.day %>">
            <input type="submit" value="Update Birthdate">
          </form>
        <% } %>
      </div>
    </div> <!-- End Profile Second Row (Essays and Attributes) -->

</div>
