<div class="container user-profile">
    <div class="user-preview"></div>
    <div class="row">
      <div class="col-md-10">
      </div> <!-- End User Details -->

    </div> <!-- End Profile First Row -->

    <div class="row">
      <div class="col-md-6">
        <div class="response-index col-md-12"></div>
        <div class="col-xs-12"></div>
      </div>

      <div class="col-md-6">
        <div class="col-md-12 user-attributes">
          <% if (!user.isCurrentUser) { %>
            <center>
              <h2><a href="<%= '#/messages/' + user.escape('id') %>">Message History</a></h2></center>
            <form id="new-message" class="form-horizontal">
              <div class="form-group">
                <div class="col-xs-12">
                  <center><label>
                    <span class="glyphicon glyphicon-envelope"></span>
                    Send Message to <%= user.escape('username') %>
                  </center><label>
                </div>

                <div class="col-xs-12">
                  <input  type="hidden"
                          name="message[receiver_id]"
                          value="<%= user.id %>">
                  <textarea
                      type="textarea"
                      name= "message[body]"
                  ></textarea>
                </div>
              </div> <!-- End .form-group -->

              <div class="form-group">
                <div class="col-xs-12">
                  <input type='submit', class='btn btn-primary' value='Send'>
                  <button id="cancel-message" type='cancel' class="btn btn-default">Cancel</button>
                </div>
              </div>

            </form>

            <div id="message-history">
            </div>

          <% } else { %>

          <center><h2>Attributes</h2></center>
            <div class="row">
              <form id="birthdate">
                <button class="btn btn-primary" type="submit">Update Birthdate</button>
                Year: <input type="number" name="year" value="<%= user.birthdate().year %>">
                Month: <input type="number" name="month" value="<%= user.birthdate().month %>">
                Day: <input type="number" name="day" value="<%= user.birthdate().day %>">
              </form>
            </div>
            <br>

            <div class="row">
              <h3><form id="gender">
                <!-- <button class="btn btn-primary" type="submit">Update Gender</button> -->
                Select Gender:
                <% if (user.get('genders')) { %>
                  <select id="gender" action="">
                    <% if (user.get('gender_id')) { %>
                      <option disabled="true">Select Gender</option>
                    <% } else { %>
                      <option disabled="true" selected=true>Select Gender</option>
                    <% } %>
                    <% user.get('genders').forEach(function(gender) { %>
                      <option
                        value="<%= gender.id %>"
                        <% if (user.get('gender_id') === gender.id) { %>
                          <%= "selected=true" %>
                        <% } %>>
                      <%= gender.singular %></option>
                    <% }) %>
                  </select>
                <% } %>
              </h3></form>
            </div>

            <div class="desired-genders-index"></div>

          <% } %>
        </div>
      </div>
    </div> <!-- End Profile Second Row (Essays and Attributes) -->

</div>
