<div class="container">

  <form action="<%= url %>" method="post" class="form-signin">
    <%= auth_token %>
    <center>
      <h2 class="form-signin-heading"><%= header %></h2>
    </center>

    <label for="inputUsername">
      Username
      <input type="text" class="signin-textbox" name="user[username]" value="<%= @user.username %>">
    </label>
    <br>
    <label for="inputPassword">
      Password
      <input type="password" class="signin-textbox" name="user[password]" value="">
    </label>

    <input
      class="btn btn-lg btn-primary btn-block"
      type="submit" value="<%= submit %>">
  </form>
</div>

<div class="container">
  <form action="<%= session_url %>" method="post", class="form-signin">
    <%= auth_token %>
    <input type="hidden" name="user[username]" value="seinfeld">
    <input type="hidden" name="user[password]" value="password">
    <input
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      value="Guest Login (Sign In as Jerry)">
  </form>
</div>
