<td>
  <label>Height</label>
</td>
<td class="details-item-value">
  <% if (user.id !== Cosmo.CURRENT_USER_ID) { %>
    &nbsp;
    <span><%= value.feet || 0 %></span>
    <span>ft, </span>
    <span><%= value.inches || 0 %></span>
    <span>in. </span>

  <% } else { %>
    <% if (editMode) { %>
      <form id="details-form" name="height">
        <input class="new-user-edit-item" name = "feet" type="text" placeholder="YY" value="<%= value.feet || 0 %>">
        <span>ft</span>&nbsp;

        <input class="new-user-edit-item" name = "inches" type="text" placeholder="YY" value="<%= value.inches || 0 %>">
        <span>in</span>&nbsp;

        <button type="submit" class="details-submit btn btn-primary btn-sm editable-submit"><i class="glyphicon glyphicon-ok"></i></button>
        <button type="button" class="details-cancel btn btn-default btn-sm editable-cancel"><i class="glyphicon glyphicon-remove"></i></button>
      </form>
    <% } else { %>
        &nbsp;
        <span><%= value.feet || 0 %></span>
        <span>ft, </span>
        <span><%= value.inches || 0 %></span>
        <span>in. </span>
        <a class="user-details-edit-icon" data-toggle="modal" data-target="#myModal">
          &nbsp;<span class="edit-glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
    <% } %>
  <% } %>
</td>
