<td>
  <label>Religion</label>
</td>
<td class="details-item-value">
  <% if (user.id != Cosmo.CURRENT_USER_ID) { %>
    <%= value || '(unspecified)' %>
  <% } else { %>
    <% if (editMode) { %>
      <select name="religion">
        <% value.forEach(function(v) { %>
          <% if (v.selected) { %>
            <option class="new-user-input-item" value="<%= v.id %>" selected><%= v.name %></option>
          <% } else { %>
            <option class="new-user-input-item" value="<%= v.id %>"><%= v.name %></option>
          <% } %>
        <% }) %>
      </select>
    <% } else { %>
      <% value.forEach(function(v) { %>
        <% if (v.selected) { %>
          &nbsp;<%= v.name %>&nbsp;
          <a class="user-details-edit-icon" data-toggle="modal" data-target="#myModal">
            <span class="edit-glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
        <% } %>
      <% }) %>
    <% } %>
  <% } %>

</td>
