<td>
  <label>Gender</label>
</td>
<td>
  <% if (user.id != Cosmo.CURRENT_USER_ID) { %>
      <%= value || '(unspecified)' %>
  <% } else { %>
    <% value.forEach(function(v) { %>
      <span class="new-user-input-item gender_identity" name="gender">
        <% if (v.selected) { %>
          <input type="radio" name="gender" value="<%= v.id %>" checked="checked">&nbsp;<%= v.name %></input>
        <% } else { %>
          <input type="radio" name="gender" value="<%= v.id %>">&nbsp;<%= v.name %></input>
        <% } %>
        </input>
      </span>
    <% }); %>
  <% } %>

</td>
