<!DOCTYPE html>
<html>
<head>
  <title>Cosmo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<table>
  <% if signed_in? %>
    <tr>
      <td><%= current_user.username %></td>
      <td><%= button_to "Sign Out", session_url, method: :delete %></td>
    </tr>
  <% else %>
    <tr>
      <td><%= link_to "Sign In", new_session_url %></td>
      <td><%= link_to "Sign Up", new_user_url %></td>
    </tr>
  <% end %>
  <!-- TA: Oof. We'll get to this soon, but you shouldn't use tables for layout:
    only use them to represent tabular data. -->
  <!-- Steve: Crap.  I was kind of proud of myself for thinking of this.  -->
</table>

<% if flash[:errors] %>
  <table>
    <% flash[:errors].each do |msg| %>
      <tr><td><%= msg %></td></tr>
    <% end %>
  </table>
<% end %>

<%= yield %>

</body>
</html>
